.page-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.card-title {
  color: var(--mat-sys-primary);
  text-align: center;
  font-size: 20px;
  font-weight: 500;

}

table {
  width: 100%;

}
.buscador {
  width: 30%;
margin: 0 auto;
  display: block;
}

mat-card {
  width: 95vw;
  margin: 0 auto;
  background-color: var(--mat-sys-surface-container);

}

mat-paginator {
    background-color: var(--mat-sys-surface-container);

}