.page-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.full-width {
  width: 100%;
}

.nota {
  font-size: 12px;
  font-weight: bold;
  //color: var(--mat-sys-primary);

  padding: 0px 5px 10px 5px;
  line-height: 1.5em;
  padding: 0.5em;
  margin: 0.5em
}

.card-title {
  color: var(--mat-sys-primary);
  text-align: center;
  font-size: 20px;
  font-weight: 500;

}

.actions-center {
  display: flex;

  justify-content: center;
}

.form-card {

  background-color: var(--mat-sys-surface-container);
  width: 100%;
  max-width: 500px;
  padding: 16px;
}

.btn-square {
  border-radius: 0 !important;
}